.board {
  height: 600px;
  width: 500px;
  border: 2px solid black;
  display: flex;
}

#clueBox {
  width: 40%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

#playerMoves {
  width: 60%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

.move,
.clueBox {
  margin: 1%;
  height: 8%;
  width: 98%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.position {
  height: 100%;
  width: 18%;
  background: blanchedalmond;
  border-radius: 50%;
}

.clueBox > .position {
  width: 25%;
}

.moveCompleted {
  height: 100%;
  width: 15%;
  background-color: rgba(0, 252, 155, 0.5);
  align-items: center;
}

#chooseColor {
  display: flex;
  height: 50px;
  width: 30%;
}

.color {
  width: 15%;
  height: 100%;
}

.notClickable {
  pointer-events: none;
}

.onMove {
  border: 2px solid blueviolet;
}

.checkedMove {
  border: 2px solid navy;
}
