body {
  font-family: sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 180%;
  color: midnightblue;
}

.board {
  width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 1px 2px 7px lightslategrey;
}

#playerInteractions {
  height: 640px;
  display: flex;
}

#clueBox,
#playerMoves {
  height: 98%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  margin: 1%;
  border-radius: 4px;
  box-shadow: 1px 2px 7px lightslategrey;
}

#clueBox {
  width: 40%;
}

#playerMoves {
  width: 45%;
}

.move,
.clueBox {
  margin: 1%;
  height: 8%;
  width: 97%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.position {
  height: 100%;
  width: 16%;
  background: blanchedalmond;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.clueBox > .position {
  width: 18%;
}

.moveCompleted {
  height: 70%;
  width: 9%;
  margin: 2% 1% 3% 2%;
}

#chooseColor {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 15%;
}

#result {
  display: none;
  justify-content: center;
}

.correctColor {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5% 20%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.color:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h4 {
  text-align: center;
}

.notClickable {
  pointer-events: none;
}

.onMove {
  border: 2px solid rgba(218, 165, 32, 0.363);
}
