.heading {
  height: 70px;
  text-align: center;
}

.board {
  height: 600px;
  width: 700px;
  display: flex;
  margin: 0 auto;
}

#clueBox {
  width: 30%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

#playerMoves {
  width: 50%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

.move,
.clueBox {
  margin: 1%;
  height: 8%;
  width: 98%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.position {
  height: 100%;
  width: 18%;
  background: blanchedalmond;
  border-radius: 50%;
}

.clueBox > .position {
  width: 25%;
}

.moveCompleted {
  height: 100%;
  width: 15%;
  background-color: rgba(0, 252, 155, 0.5);
  align-items: center;
}

#chooseColor {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 20%;
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5% 20%;
}

h4 {
  width: 100%;
  text-align: center;
  font-size: 130%;
}

.notClickable {
  pointer-events: none;
}

.onMove {
  border: 2px solid blueviolet;
  box-shadow: -1px 1px 5px 2px #888888;
}
