.heading {
  display: flex;
  justify-content: center;
  background-color: rgba(250, 128, 114, 0.356);
}

.board {
  height: 600px;
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

#clueBox {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
}

#playerMoves {
  width: 35%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
}

.move,
.clueBox {
  margin: 1%;
  height: 8%;
  width: 98%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.position {
  height: 100%;
  width: 16%;
  background: blanchedalmond;
  border-radius: 50%;
}

.clueBox > .position {
  width: 18%;
}

.moveCompleted {
  height: 100%;
  width: 15%;
  background-color: rgba(0, 252, 155, 0.3);
}

#chooseColor {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 11%;
}

#result {
  height: 60px;
  width: 550px;
  display: flex;
  margin-left: 260px;
}

.correctColor {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5% 20%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.color:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h4 {
  width: 100%;
  text-align: center;
  font-size: 130%;
}

.notClickable {
  pointer-events: none;
}

.onMove {
  border: 2px solid blueviolet;
}
